<style>
  @media screen and (max-width: 600px){
    #download-button{
     display: none;
    }
  }
  .header {
    text-shadow: -1px -1px 0 #F4FDFF, 1px -1px 0 #F4FDFF, -1px 1px 0 #F4FDFF, 1px 1px 0 #F4FDFF;
  }
  #download-button {
    font-family: "Syne Mono", monospace;
    font-size: 1.1em;
    -webkit-text-stroke:#100c08 0.5px;
    color: #fffafa;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000;
    background-color: color-mix(in sRGB, 70%, #3e363f);
    cursor: pointer;
    border: white solid 1px;
  }
</style>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br /><br />
        <h1 class="header center green-text dark-text" id="header">
          Oregon Trails
        </h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <% if (loggedIn) { %>
        <div class="row center hide-on-med-and-down" id="row-center">
          <a
            href="https://trailswalkthrough.netlify.app/"
            target="_blank"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Trails Walkthrough</a>
            <a
            href="https://compassredirect.netlify.app/"
            target="_blank"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hike Companion</a>
          <a
            href="/show"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hike Trails</a
          >
          <a
            href="/biking"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Bike Trails</a
          >
          <a
            href="/camping"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Camping </a
          >
          <a
            href="/search"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hiking Search</a
          >
          <a
            href="https://usmaptrails.netlify.app/"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            target="_blank"
            >US Map</a
          >
          <a
            href="https://cinematicroutes.netlify.app/"
            id="download-button"
            target="_blank"
            class="btn-small waves-effect waves-light green lighten-1"
            >Cinematic Routes</a
        </div>
        <% } else { %>
        <div class="row center hide-on-med-and-down" id="row-center">
          <a
            href="https://trailswalkthrough.netlify.app/"
            target="_blank"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Trails Walkthrough</a>
            <a
            href="https://compassredirect.netlify.app/"
            target="_blank"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hike Companion</a>
            <a
            href="/show"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hike Trails</a
          >
          <a
            href="/biking"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Bike Trails</a
          >
          <a
            href="/camping"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Camping </a
          >
          <a
            href="/search"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hiking Search</a
          >
          <a
            href="https://usmaptrails.netlify.app/"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            target="_blank"
            >US Map</a
          >
          <a
            href="https://cinematicroutes.netlify.app/"
            id="download-button"
            target="_blank"
            class="btn-small waves-effect waves-light green lighten-1"
            >Cinematic Routes</a
          >
        </div>
          
        <% } %>
        <br /><br />
      </div>
</div>