<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br /><br />
        <h1 class="header center green-text dark-text" id="header">
          Oregon Hikes
        </h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <% if (loggedIn) { %>
        <div class="row center">
          <a
            href="/show"
            id="download-button"
            class="btn-large waves-effect waves-light green lighten-1"
            >View Hikes</a
          >
        </div>
        <% } else { %>
        <div class="row center">
          <a
            href="/signup"
            id="download-button"
            class="btn-large waves-effect waves-light green lighten-1"
            >Sign Up</a
          >
        </div>
        <% } %>
        <br /><br />
      </div>
</div>