<style>
  @media screen and (max-width: 600px){
    #download-button{
     display: none;
    }
  }
  .header {
    text-shadow: -1px -1px 0 #F4FDFF, 1px -1px 0 #F4FDFF, -1px 1px 0 #F4FDFF, 1px 1px 0 #F4FDFF;
  }
</style>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br /><br />
        <h1 class="header center green-text dark-text" id="header">
          Oregon Hikes
        </h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <% if (loggedIn) { %>
        <div class="row center hide-on-med-and-down" id="row-center">
          <a
            href="https://stirring-empanada-d536de.netlify.app/"
            target="_blank"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Viewpoint Hikes</a>
            <a
            href="https://timely-scone-7b792f.netlify.app/"
            target="_blank"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hike Map</a>
          <a
            href="/show"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hike Trails</a
          >
          <a
            href="/biking"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Bike Trails</a
          >
          <a
            href="/camping"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Camping </a
          >
          <a
            href="/search"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hiking Search</a
          >
          <a
            href="https://usmaptrails.netlify.app/"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            target="_blank"
            >US Map</a
          >
        </div>
        <% } else { %>
        <div class="row center hide-on-med-and-down" id="row-center">
          <a
            href="https://stirring-empanada-d536de.netlify.app/"
            target="_blank"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Viewpoint Hikes</a>
            <a
            href="https://timely-scone-7b792f.netlify.app/"
            target="_blank"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hike Map</a>
            <a
            href="/show"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hike Trails</a
          >
          <a
            href="/biking"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Bike Trails</a
          >
          <a
            href="/camping"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Camping </a
          >
          <a
            href="/search"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            >Hiking Search</a
          >
          <a
            href="https://usmaptrails.netlify.app/"
            id="download-button"
            class="btn-small waves-effect waves-light green lighten-1"
            target="_blank"
            >US Map</a
          >
        </div>
          
        <% } %>
        <br /><br />
      </div>
</div>