<style>
  @media screen and (max-width: 600px){
    #download-button{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 40px;
    }
  }
</style>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br /><br />
        <h1 class="header center green-text dark-text" id="header">
          Oregon Hikes
        </h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <% if (loggedIn) { %>
        <div class="row center">
          <a
            href="/show"
            id="download-button"
            class="btn-large waves-effect waves-light green lighten-1"
            >Hike Trails</a
          >
          <a
            href="/biking"
            id="download-button"
            class="btn-large waves-effect waves-light green lighten-1"
            >Bike Trails</a
          >
          <a
            href="/camping"
            id="download-button"
            class="btn-large waves-effect waves-light green lighten-1"
            >Camping </a
          >
          <a
            href="/search"
            id="download-button"
            class="btn-large waves-effect waves-light green lighten-1"
            >Hiking Search</a
          >
        </div>
        <% } else { %>
        <div class="row center">
          <a
            href="/signup"
            id="download-button"
            class="btn-large waves-effect waves-light green lighten-1"
            >Sign Up</a
          >
          <a
            href="/disclaimer"
            id="download-button"
            class="btn-large waves-effect waves-light green lighten-1"
            >Disclaimer</a
          >
        </div>
          
        <% } %>
        <br /><br />
      </div>
</div>