<div class="container">
  <div class="section">
    <div class="row" id="container">
      <% for (var i = 0; i < trails.length; i++) { %>
      <div class="col s12 m4">
        <div class="card large green">
          <div class="card-image green">
            <img src="<%= trails[i].image %>" />
            <span class="card-title"><%=trails[i].name%></span>
          </div>
          <div class="card-content green">
            <p><%= trails[i].description %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
