
<div class="container">
  <div class="section">
    <div class="row" id="container">
      <% for (var i = 0; i < trails.length; i++) { %>
      <div class="col s12 m4">
        <div class="card large grey lighten-2">
          <div class="card-image">
            <img src="<%= trails[i].image %>" />
            <span class="card-title ">
              <ul>
                <li>
                  <a class="tooltipped white-text" data-position="top" data-delay="50" data-tooltip="Click The Name!" href="/viewhike/<%= trails[i].id %>">
                    <%= trails[i].name %>
                  </a>
                </li>
              </ul>
            </span>
          </div>
          <div class="card-content grey lighten-2">
            <p><%= trails[i].description %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
