<style>
.container {
  font-family: "Syne Mono", monospace;
    font-size: 1em;
    -webkit-text-stroke: #3e363f 0.5px;
    color: #fffafa;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000,
      -1px 1px 2px #000;
    background-color: color-mix(in sRGB, 70%, #3e363f);
    cursor: pointer;
}
</style>
<div class="footer-copyright">
    <div class="container">
      Made by <a class="white-text text-lighten-3" href="https://interactive-reality.netlify.app/" target="_blank">Richard Brown</a>
      <a class="white-text text-lighten-4 right" href="/disclaimer">Disclaimer</a>
    </div>
  </div>
</footer>