<div class="footer-copyright">
    <div class="container">
      Made by <a class="black-text text-lighten-3" href="https://interactive-reality.netlify.app/" target="_blank">Richard Brown</a>
    </div>
  </div>
</footer>