<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.visitoregon.com%2Fwp-content%2Fuploads%2F2019%2F04%2Ffavicon-oregon.png&f=1&nofb=1&ipt=f7a850c9079ccad55b38256e15f82a530092bf25960186c7cdbf14c06ebb1068&ipo=images"
      rel="Icon"
    />
    <title>Oregon Hikes</title>

    <!-- CSS  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="/css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="/css/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  </head>