<nav class="green" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Hiking</a>
    <% if (loggedIn) { %>
      <ul class="right hide-on-med-and-down">
        <li>Welcome, <%= username %></li>
        <%= console.log("Logged in status:", loggedIn); %>
        <li>
          <a href="/logout">Log Out</a>
        </li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li style="color: black; margin-left: 1rem;"><%= username %></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
      <% } else { %>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/login">Sign In</a>
        </li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="/login">Sign In</a></li>
      </ul>
      <% } %>      
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons" style="color: black;">menu</i></a>
  </div>
</nav>

