<%- include('head.ejs')-%>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
  body {
    background-color: #3e363f;
    font-family: "Syne Mono", monospace;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  input {
    display: block;
    margin: 20px;
    padding: 10px;
    background-color: #08ff08;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Syne Mono, monospace;
    box-shadow: 0 4px 4px #08ff08;
    border: none;
  }
  input::placeholder {
    color: #28282b;
  }
  input [type="text"] {
    color: #28282b;
    border: 1px solid #08ff08;
    box-shadow: 0 0 10px #08ff08;
    outline: none;
  }
  #passwordOutput {
    margin-top: 20px;
    color: #08ff08;
    font-family: Syne Mono, monospace;
    font-size: 16px;
  }
  h6 {
    color: #08ff08;
  }
  h5 {
    color: #08ff08;
  }
</style>
<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <h1 class="center-align">Sign Up</h1>
        <% if (flashMessages.error && flashMessages.error.length > 0) { %>
        <div class="card-panel red">
          <% flashMessages.error.forEach(function(message) { %>
          <p class="white-text"><%= message %></p>
          <% }); %>
        </div>
        <% } %>
        <form action="/signup" method="POST">
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" name="username" id="username" required />
            <label for="username">Username</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">password</i>
            <input type="password" name="password" id="password" required />
            <label for="password">Password</label>
          </div>
          <div class="buttons">
            <button
              class="btn waves-effect waves-light black lighten-1"
              type="submit"
              name="Register"
            >
              Sign Up
            </button>
            <button
              class="btn waves-effect waves-light black lighten-1"
              type="reset"
              value="Reset"
            >
              Reset Form
            </button>
            <button
              class="btn waves-effect waves-light black lighten-1"
              type="button"
              onclick="location.href='/'"
            >
              Return
            </button>
          </div>
        </form>
        <br />
        <br />
        <h4>Generate a secure password</h4>
        <h6>Enter a number greater or equal to 6 and less than 60</h6>
        <h6>Note: Store your password in a secure place.</h6>
        <input
          type="text"
          id="passwordLength"
          placeholder="Enter password length"
        />
        <button
          class="btn waves-effect waves-light black lighten-1"
          onclick="generatePassword()"
        >
          Generate Password
        </button>
        <div id="passwordOutput"></div>
      </div>
    </div>
  </div>
  <%- include('scripts.ejs')-%>
  <script>
    function generatePassword() {
      var length = document.getElementById("passwordLength").value;
      var charset =
        "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      var password = "";
      for (var i = 0, n = charset.length; i < length; ++i) {
        password += charset.charAt(Math.floor(Math.random() * n));
      }
      if (length < 6 || length > 59) {
        if (length == 0) {
          document.getElementById("passwordOutput").innerText =
            "Really! 0? That's like trying to make a sandwich with no bread! Try again!";
          return;
        } else if (length === null || length === " ") {
          document.getElementById("passwordOutput").innerText =
            "Who knew numbers could be so rebellious? Please enter a valid number before the math police show up!";
          return;
        }
        document.getElementById("passwordOutput").innerText =
          "The number you entered is like trying to fit a giraffe in a go-kart or a mouse in a monster truck. Please enter a number greater or equal to 6 and less than 60 before we call in animal control!";
        return;
      } else if (isNaN(length)) {
        document.getElementById("passwordOutput").innerText =
          "The value you entered isn't a number! It's like trying to make a smoothie with rocks. Please enter a valid number before the blender breaks down!";
        return;
      } else {
        document.getElementById("passwordOutput").innerText = password;
      }
    }
  </script>
</body>
